<div id="guideContainer">
    <h3 id="mainTitle">Step-by-Step Guide - CROWDSPOT</h3>

    <h3 class="title">Total Steps for setting up Crowdspot</h3>
    <ul>
        <li class="description">Register a New Account</li>
        <li class="description">Login With your Account</li>
        <li class="description">Setting up Camera Part I - Website</li>
        <li class="description">Setting up Camera Part II - Camera IoT</li>
    </ul>
    <h3 class="title">1. Register a New Account</h3>
    <h4 class="description">Testing 123</h4>
</div>