
<div id="welcomePage" class="MainPage" *ngIf="isAuthenticated == false; else operatorPage">
  <app-particles></app-particles>
  <div class="LoginContainer">
    <app-log-in-page [showLoginPage]="clickLoginPage" (closeLogin)="checkAlertPage($event, 1)" (click)="checkAlertPage(true, 1)"></app-log-in-page>
  </div>
  <div class="SignUpContainer">
    <app-sign-up-page #signUpPage [showSignUpPage]="clickSignupPage" [disabled]="clickSignupPage" (closeSignUp)="checkAlertPage($event, 2)"  (click)="checkAlertPage(true, 2)"></app-sign-up-page>
  </div>
  
  <div id="MiddleContainer">
    <div id="LogoContainer">
      <app-logo (click)="clickedLogo()"></app-logo>
    </div>
    <div id="ResetContainer">
      <app-reset-page [showResetPage]="clickResetPage" (click)="clickedResetPage(true)"></app-reset-page>
    </div>
  </div>

  
  <app-footer></app-footer>

  
</div>
<ng-template #operatorPage>
  <div id="operatorPage" class="MainPage">
    
  </div>
</ng-template>
<div class="alertSignUp">
  <div id="alertBG">
  </div>
  <div id="alertContainer">
      <div id="alertLabelContainer">
        <h2>SIGN UP - CANCELLATION</h2>
    </div>
    <div id="alertDescriptionContainer">
        <h3>Confirm to close the Form?</h3>
        <h4>*If closed, you will have to re-fill in the form next time you signing up*</h4>
    </div>
    <div id="alertButtonContainer">
        <h2 (click)="activatePage(tempInput, tempPageNumber)" id="alertConfirmButton" class="alertButton">CONFIRM</h2>
        <h2 (click)="resetTempVar()" id="alertCancelButton" class="alertButton">CANCEL</h2>

    </div>
  </div>

  
</div>